In [2]:

from __future__ import absolute_import, division, print_function, unicode_literals
import pandas as pd
import tensorflow as tf

In [3]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 4us/step

In [4]:
df = pd.read_csv(csv_file)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [ ]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [ ]:
df.head()

In [ ]:
target = df.pop('target')

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [ ]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [ ]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
  ])

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [ ]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [8]:
target = df.pop('target')

In [9]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [10]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [11]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
  ])

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [12]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 1ms/step - loss: 5.9209 - accuracy: 0.6898
Epoch 2/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7259 - accuracy: 0.7096
Epoch 3/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7244 - accuracy: 0.7063
Epoch 4/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6650 - accuracy: 0.7063
Epoch 5/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6001 - accuracy: 0.7360
Epoch 6/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6230 - accuracy: 0.7327
Epoch 7/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5302 - accuracy: 0.7360
Epoch 8/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5818 - accuracy: 0.7327
Epoch 9/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5913 - accuracy: 0.7162
Epoch 10/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5437 - accuracy: 0.7657
Epoch 11/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5475 - accuracy: 0.7690
Epoch 12/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5178 - accuracy: 0.7723
Epoch 13/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5472 - accuracy: 0.7459
Epoch 14/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5104 - accuracy: 0.7459
Epoch 15/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5173 - accuracy: 0.7723